
.bajo{
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
 }
 
 .github{
    width: 2rem;
    height: 2rem;
 }
 
 .footer span{
    font-size: 1.5rem;
    font-weight: 100;
 }
 
 .header{
    display: flex;
 }
 
 .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
 }
 
 .tipos{
    display: flex;
    flex-direction: row;
 
 }
 
 .tipos li{
    list-style: none;
    margin: 1rem;
 }
 
 .contenedor img{
    width: 5rem;
    height: 5rem;
 }